@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a;
  --color-secondary: #111827;
  --color-accent: #6366f1;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: #ededed;
    font-family: 'Inter', sans-serif;
    @apply m-0 p-0;
  }
}

