# .env.sample - XAuth Ultra Secure Licensing System (Sample)
# Create news user for db : CREATE USER 'XAuth'@'%' IDENTIFIED BY 'XAuth2026!';
# Give access for user : GRANT ALL PRIVILEGES ON xauth.* TO 'XAuth'@'%';

# Application Configuration
APP_PORT=3310
APP_SECRET=YOUR_APP_SECRET_KEY_FOR_JWT_AND_HANDSHAKE
ADMIN_REGISTRATION_SECRET=change_me_immediately


# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=xauth

# Ultra Security (Omega Layer)
# Used for encrypting sensitive fields (License Keys, HWIDs) in the Database
DB_ENCRYPTION_KEY=YOUR_32_CHARACTER_ENCRYPTION_KEY_HERE

# Client Configuration
CLIENT_URL=http://localhost:3000

# Meta Configuration
PROJECT_NAME=XAuth_Omega_SaaS
